/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header Styles */
header {
    background: linear-gradient(45deg, #FF9A8B, #FF6A88, #FF99AC);
    background-attachment: fixed;
    background-size: cover;
    color: #001f3f;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 70rem;

}

.user-image {
    position: relative;
    margin-left: 20px;
}

.user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.user-image label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.welcomeMessage {
    border-top: 10px;
    margin-left: 0.1px;
    font-size: 12px;
}

#logoutBtn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right: 1px;
    border-top: 0.2rem
}

#logoutBtn i {
    margin-right: 5px;
}

#logoutBtn :hover {
    color: #007BFF; /* Accent color on hover */
}

.main-container {
    display: flex;
}

.main-section {
    flex: 1;
    margin-right: 20px; /* Adjust margin as needed */
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}

.main-section:hover {
    transform: translateY(-5px);
}

.subscription-details,
.upcoming-events,
.puja-schedule {
    padding: 20px;
}

.subscription-card,
.schedule-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
