{% extends 'base.html' %}

{% block title %}Devaloke Sonar City{% endblock %}

{% block content %}
<div class="featured_projects" unique-script-id="w-w-dm-id">
  <div class="container-block bg">
    <p class="text-blk heading">
      Featured Projects
    </p>
    <div class="responsive-container-block opt-cont">
      <p class="text-blk tab tab-active" data-filter="all">
        All
      </p>
      <p class="text-blk tab" data-filter="webdes">
        Web Design
      </p>
      <p class="text-blk tab" data-filter="graphdes">
        Graphics Design
      </p>
      <p class="text-blk tab" data-filter="webdev">
        Web Development
      </p>
      <p class="text-blk tab" data-filter="mobdev">
        Mobile Development
      </p>
    </div>
    <div class="responsive-container-block content">
      <div class="responsive-container-block img webdes webdev">
        <img class="im image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/P7.3.png">
        <div class="responsive-container-block overlay">
        </div>
        <div class="responsive-container-block desc">
          <p class="text-blk title">
            Service Rendered
          </p>
          <p class="text-blk info">
            Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>
      </div>
      <div class="responsive-container-block img webdes webdev">
        <div class="responsive-container-block overlay overlay-visible">
        </div>
        <div class="responsive-container-block desc">
          <p class="text-blk title">
            Service Rendered
          </p>
          <p class="text-blk info">
            Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>
        <img class="im" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/P7.1.png">
      </div>
      <div class="responsive-container-block img webdes webdev">
        <div class="responsive-container-block overlay">
        </div>
        <div class="responsive-container-block desc">
          <p class="text-blk title">
            Service Rendered
          </p>
          <p class="text-blk info">
            Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>
        <img class="im" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/P7.3.png">
      </div>
      <div class="responsive-container-block img graphdes mobdev">
        <img class="im" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/P7.1.png">
        <div class="responsive-container-block overlay">
        </div>
        <div class="responsive-container-block desc">
          <p class="text-blk title">
            Service Rendered
          </p>
          <p class="text-blk info">
            Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>
      </div>
      <div class="responsive-container-block img graphdes mobdev">
        <div class="responsive-container-block overlay">
        </div>
        <div class="responsive-container-block desc">
          <p class="text-blk title">
            Service Rendered
          </p>
          <p class="text-blk info">
            Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>
        <img class="im" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/P7.3.png">
      </div>
      <div class="responsive-container-block img graphdes mobdev">
        <img class="im" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/P7.1.png">
        <div class="responsive-container-block overlay">
        </div>
        <div class="responsive-container-block desc">
          <p class="text-blk title">
            Service Rendered
          </p>
          <p class="text-blk info">
            Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}