<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durga Puja 2024 - Devaloke Sonar City</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/street.jpeg') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#">
                    <div class="logo-container">
                        <img src="{{ url_for('static', filename='images/durgamaa.jpeg') }}" alt="DurgaMaa" class="logo-image">
                        <h1>Durga Puja 2024</h1>
                    </div>
                </a>
            </div>
            <div id="flipdown" class="flipdown"></div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('my_blueprint.members') }}">Members</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="https://forms.gle/p7ve1Kh4ngqnk1yNA" target="_blank">Register for Meal Pass</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="https://www.facebook.com/groups/devalokesonarcity" target="_blank">Facebook</a></li>                
            </ul>
            
            <div class="burger-menu">
              <div class="burger-line"></div>
              <div class="burger-line"></div>
              <div class="burger-line"></div>
            </div>
            
        </nav>
        
    </header>

    <main>
        <section class="hero">
        <div class="hero-slides">
            <div class="hero-slide"></div>
            <div class="hero-slide"></div>
            <div class="hero-slide"></div>
            <div class="hero-slide"></div>
            <div class="hero-slide"></div>
        </div>
        <div class="hero-content">
            <h1>Welcome to Your Website</h1>
            <p>This is a cool and sober slideshow animation.</p>
        </div>
    </section>
        <section id="gallery">
            <h2>Last Year's Celebration</h2>
            <div class="gallery-container">
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='images/hero1.jpeg') }}" alt="Image 1">
                </div>
                <div class="gallery-item">
                    <video class="gallery-video" autoplay muted loop>
                        <source src="{{ url_for('static', filename='images/kalabousnan.mp4') }}" type="video/mp4">
                    </video>
                </div>
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='images/dadson.jpeg') }}" alt="Image 2">
                </div>
                <div class="gallery-item">
                    <video class="gallery-video" autoplay muted loop>
                        <source src="{{ url_for('static', filename='images/firstlook.mp4') }}" type="video/mp4">
                    </video>
                </div>
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='images/hero2.jpeg') }}" alt="Image 2">
                </div>
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='images/firstglimpse.jpeg') }}" alt="Image 2">
                </div>
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='images/joyma.jpeg') }}" alt="Image 2">
                </div>
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='images/thakurana.jpeg') }}" alt="Image 2">
                </div>
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='images/stage.jpeg') }}" alt="Image 2">
                </div>
            </div>
        </section>

        <section id="schedule">
            <h2>Puja Schedule</h2>
            <div class="schedule-container">
                <div class="schedule-day">
                    <h3>9th October 2024</h3>
                    <ul>
                        <li>6:00 AM - Pran Pratistha</li>
                        <li>10:00 AM - Pushpanjali</li>
                        <li>7:00 PM - Aarti</li>
                    </ul>
                </div>
                <div class="schedule-day">
                    <h3>10th October 2024</h3>
                    <ul>
                        <li>6:30 AM - Anjali</li>
                        <li>11:00 AM - Bhog Prasad</li>
                        <li>8:00 PM - Cultural Program</li>
                    </ul>
                </div>

                <div class="schedule-day">
                    <h3>11th October 2024</h3>
                    <ul>
                        <li>7:00 AM - Anjali</li>
                        <li>12:00 PM - Bhog Prasad</li>
                        <li>9:00 PM - Sandhya Aarti</li>
                    </ul>
                </div>

                <div class="schedule-day">
                    <h3>12th October 2024</h3>
                    <ul>
                        <li>6:30 AM - Anjali</li>
                        <li>11:00 AM - Bhog Prasad</li>
                        <li>8:00 PM - Cultural Program</li>
                    </ul>
                </div>

                <div class="schedule-day">
                    <h3>13th October 2024</h3>
                    <ul>
                        <li>6:00 AM - Anjali</li>
                        <li>10:00 AM - Pushpanjali</li>
                        <li>7:00 PM - Darpan Visarjan</li>
                    </ul>
                </div>
                
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Durga Puja Celebration - Devaloke Sonar City</p>
        <p>Developed by Rahul Datta (Tower 3, 8C)</p>
    </footer>

    <script src="https://unpkg.com/flipdown@0.3.2/dist/flipdown.min.js"></script>
    <script src="{{ url_for('static', filename='js/flipdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
</body>
</html>